.photo-section{
    background-image: url("../images/559-5599740_girl-for-cosmetics-png-transparent-png.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .writing-part{
        padding: 80px 100px;
        color: #68745C;
        font-size: 30px;
        width: 700px;
        p{
            font-style: italic;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}